<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.Deadline.leon.deadline">

    <application
        android:name="com.Deadline.leon.deadline.CStoreIDs"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.Deadline.leon.deadline.Login"
            android:label="@string/app_name"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name="com.Deadline.leon.deadline.HomeScreen"
            android:label="@string/title_activity_home_screen"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.Deadline.leon.deadline.CreateAccount"
            android:label="@string/title_activity_create_account"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.Deadline.leon.deadline.ProjectCreationScreen"
            android:label="@string/title_activity_project_creation_screen"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.Deadline.leon.deadline.SplashScreen"
            android:label="DEADLINE"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.Deadline.leon.deadline.MemberActivity"
            android:label="@string/title_activity_member"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.Deadline.leon.deadline.Projects"
            android:label="@string/title_activity_projects"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.Deadline.leon.deadline.Tasks"
            android:label="@string/title_activity_tasks"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.Deadline.leon.deadline.CreateTask"
            android:label="@string/title_activity_create_task"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.Deadline.leon.deadline.EditProject"
            android:label="@string/title_activity_edit_project"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.Deadline.leon.deadline.CreateEditRoles"
            android:label="@string/title_activity_create_edit_roles"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.Deadline.leon.deadline.EditTask"
            android:label="@string/title_activity_edit_task"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.Deadline.leon.deadline.CreateJob"
            android:label="@string/title_activity_create_job"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.Deadline.leon.deadline.EditJob"
            android:label="@string/title_activity_edit_job"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.Deadline.leon.deadline.AccountInfo"
            android:label="@string/title_activity_account_info"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.Deadline.leon.deadline.Jobs"
            android:label="@string/title_activity_jobs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.Deadline.leon.deadline.Settings"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.Deadline.leon.deadline.Roles"
            android:label="@string/title_activity_roles"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.Deadline.leon.deadline.EditRoles"
            android:label="@string/title_activity_edit_roles"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.Deadline.leon.deadline.RolePermissions"
            android:label="@string/title_activity_role_permissions"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.Deadline.leon.deadline.FileManager"
            android:label="@string/title_activity_file_manager"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.Deadline.leon.deadline.Invitations"
            android:label="@string/title_activity_invitations"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>